/* Styles for Mobile Site */
body{
    background-color: #305875;
    color: #F5EDDA;
    font-family: 'Courier New', monospace;
}
/* Header & Hero */
h1{
    text-align: center;
    font-size: 40px;
    color: #F5EDDA;
}
#hero{
    text-align: center;
}
#hero img{
    max-width: 400px;
    height: 400px;
    margin-right: 20px;
}
/* Projects */
#projects{
    text-align: center;
    border: 6px solid #abcaf5;
    background-color: #abcaf5;
}
div.project {
    margin-bottom: 20px;
    border: 1px solid #305875;
    background-color: #305875;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; 
}
div.project img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}
/* Reviews */
#reviews{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}
div.review{
    border: solid 2px #abcaf5;
    padding: 15px;
    background-color: #343075;
}
div.rating{
    color: yellow;
}
/* Footer */
footer{
    text-align: center;
}    

/* Media state for Desktop site */
@media (min-width: 1000px) {
    body{
        background-color: #305875;
        color: #F5EDDA;
        font-family: 'Courier New', monospace;
    }
    /* Header & Hero */
    h1{
        text-align: center;
        font-size: 50px;
        color: #F5EDDA;
    }
    #hero{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        font-size: 20px;
    }
    #hero img{
        max-width: 400px;
        height: 400px;
        margin-right: 20px;
    }
    /* Projects */
    #projects{
        text-align: center;
        border: 6px solid #abcaf5;
        background-color: #abcaf5;
       
        
    }
    div.project {
        display: flex;
        margin-bottom: 20px;
        border: 1px solid #305875;
        background-color: #305875;
        padding: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px; 
    }
    div.project img {
        width: 300px;
        height: auto;
        margin-right: 20px;
    }
    /* Reviews */
    #reviews{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    #reviews h2{
        grid-column: 1/ -1;
    }
    div.review{
        border: solid 2px #abcaf5;
        padding: 15px;
        background-color: #343075;
    }
    div.rating{
        color: yellow;
    }

    /* Footer */
    footer{
        text-align: center;
    }    
}